#resources-link, #rerun-button {
	display: none
}
.action-button {
	padding: 5px;
}
.scaling-choices.bottom {
	bottom: 4px;
}
.scaling-choices.right {
    right: 20px;
}
.embed-nav .result-button-list {
	left: 87px;
}
.embed-nav .code-types li:last-child a, .embed-nav .result-button-list li:last-child a, .scaling-choices li:first-child .action-button, .embed-nav .code-types li:first-child a, .embed-nav .result-button-list li:first-child a, .scaling-choices li:last-child .action-button {
	border-radius: 0;
}
.embed-nav .code-types a, .embed-nav .result-button-list a, .action-button {
	background-color: darkgray;
	color: dimgray;
}
.embed-nav .code-types a.active, .embed-nav .result-button-list a.active, .action-button.active {
    background: #77acbd;
    color: #fff;
    box-shadow: none;
}
